*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --color-primary: #4888ff;
  --color-darck-text: #343a3f;
  --color-light-text: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Maza', sans-serif;
  color: var(--color-darck-text);
}

.none {
  display: none !important;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-light-text);
  cursor: pointer;
  padding: 11px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  transition: background-color 0.2s linear;
  border: 1px solid transparent;
  white-space: nowrap;
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    opacity: 0.8;
    transition: background-color 0.2s linear;
  }
}

.btn:focus-visible {
  opacity: 0.8;
  transition: background-color 0.2s linear;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-text);
}

.header__top {
  display: flex;
  align-items: center;
  padding: 8px calc((100% - 1390px) / 2);
  justify-content: space-between;
  background: #f4f4f4;
}

.navigation-address {
  padding: 0 0 0 15px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-size: 14px;
  color: var(--color-darck-text);
  transition: color 0.3s linear;
  text-decoration: none;
}

.navigation-address svg {
  color: var(--color-darck-text);
  transition: color 0.3s linear;
}

.navigation-address:hover {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.navigation-address:hover svg {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.navigation-callback a {
  display: flex;
  align-items: center;
  column-gap: 4px;
  text-decoration: none;
  color: var(--color-darck-text);
  font-weight: 400;
  font-size: 14px;
  transition: color 0.3s linear;
}

.navigation-callback a svg {
  color: var(--color-darck-text);
  transition: color 0.3s linear;
}

.navigation-callback a:hover,
.navigation-callback a:hover svg {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.navigation-working-hours {
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
}

.header__top .navigation-pages {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.header__top .navigation-pages a {
  text-decoration: none;
  color: var(--color-darck-text);
  transition: color 0.3s linear;
}

.header__top .navigation-pages a:hover {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.header__top .navigation-pages li:last-child {
  padding-right: 15px;
}

.header__middle {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 100;
  background-color: var(--color-light-text);
  transition: animation 0.2s linear;
  padding: 16px calc((100% - 1390px) / 2);
}

.header__middle.pos-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: var(--color-light-text);
  transition: animation 0.2s linear;
  animation: slideDown 0.5s ease;
  align-items: center;
}

.logo {
  padding-left: 15px;
  width: 95px;
  height: 80px;
  margin-right: 40px;
  flex-shrink: 0;
}

.logo a {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.logo svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.catalog {
  margin-right: 16px;
}

.catalog-open {
  display: flex;
  padding: 16px 30px;
  border-radius: 8px;
  transition: opacity 0.3s linear;
}

#catalog-open {
  display: flex;
}

.catalog-open:hover {
  opacity: 0.8;
  transition: opacity 0.3s linear;
}

.catalog-close {
  width: 103px;
  background: #e8e8e8;
  padding: 16px 30px;
  border-radius: 8px;
  transition: opacity 0.3s linear;
  display: none;
}

.catalog-close#catalog-close {}

.catalog-close#catalog-close-mobile {
  /*display: none;*/
}


.catalog-list {
  display: none;
  flex-direction: column;
  padding: 15px 0 15px 0;
  list-style: none;
  margin: 0;
  border-radius: 8px;
  width: 892px;
  height: 427px;
  box-shadow: 0 0 10px 0 rgba(157, 157, 157, 0.35);
  background: var(--color-light-text);
  overflow-y: auto;
  position: absolute;
}

.catalog-item {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  max-width: 340px;
  width: 100%;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

.catalog-item .catalog-link-icon,
.catalog-item svg {
  transition: background-color 0.3s linear;
}

.catalog-item:hover {
  background-color: #f3f3f3;
  ;
  transition: background-color 0.3s linear;
}

.catalog-item:hover svg {
  color: var(--color-primary);
  transition: background-color 0.3s linear;
}

.catalog-item:hover .catalog-link-icon g path,
.catalog-item:hover .catalog-link-icon path {
  fill-opacity: 1;
  transition: fill-opacity 0.3s linear;
}

.catalog-item-selected {
  background-color: #f3f3f3;
  ;
}

.catalog-item-selected svg,
.catalog-item-selected .catalog-link-icon g path,
.catalog-item-selected .catalog-link-icon path {
  color: var(--color-primary);
  fill-opacity: 1;
}

.catalog-list .dropdown-two-list li a:hover,
.catalog-list .dropdown-two-list li a:hover span,
.catalog-list .dropdown-two-list li div:hover,
.catalog-list .dropdown-two-list li div:hover span {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.dropdown-two-list li a svg {
  color: var(--color-darck-text);
}

.catalog-link {
  padding: 13px 0 13px 0;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-darck-text);
}

.catalog-link svg:last-child {
  margin-left: auto;
}

.catalog-link svg.catalog-link-icon {
  margin-right: 16px;
  margin-left: 0;
  color: var(--color-primary);
}

.catalog-list-dropdonw {
  position: absolute;
  width: calc(100% - 400px);
  top: 15px;
  right: 15px;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 40px;
}

.catalog-list-dropdonw-item {
  width: 100%;
  font-weight: 400;
  font-size: 30px;
  color: var(--color-darck-text);
}

.catalog-list-dropdonw-item .dropdown-two-list {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  margin: 0;
  list-style: none;
  gap: 16px;
}

.catalog-list-dropdonw-item .dropdown-two-list li {
  padding: 0;
  margin: 0;
}

.catalog-list-dropdonw-item .dropdown-two-list li a,
.catalog-list-dropdonw-item .dropdown-two-list li div {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-darck-text);
  display: flex;
  align-items: baseline;
}

.catalog-list-dropdonw-item .dropdown-two-list li a span,
.catalog-list-dropdonw-item .dropdown-two-list li div span {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: rgba(52, 58, 63, 0.5);
  margin-left: 10px
}

.catalog-list-dropdonw-item .dropdown-two-list li a svg,
.catalog-list-dropdonw-item .dropdown-two-list li div svg {
  margin-left: auto;
  color: var(--color-darck-text);
  transition: color 0.2s linear;
}

.catalog-list-dropdonw-item .dropdown-two-list li a:hover svg,
.catalog-list-dropdonw-item .dropdown-two-list li div:hover svg {
  color: var(--color-primary);
  transition: color 0.2s linear;
}

.dropdown-two-list .dropdown-three-list {
  list-style: none;
  padding: 0 0 0 40px;
  margin: 0;
  position: absolute;
  background: var(--color-light-text);
  display: none;
}

.dropdown-three-wrapper:hover .dropdown-three-list {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: auto;
  right: 40px;
  height: 100%;
  max-width: 226px;
  width: 100%;
}

.dropdown-two-list .dropdown-three-list li {
  background: var(--color-light-text);
  z-index: 10;
  position: relative;
  padding: 8px;
}

.dropdown-two-list .dropdown-three-list li a {
  position: relative;
  background: var(--color-light-text);
  z-index: 10;
  margin: 0;
  color: var(--color-darck-text);
}

.search {
  max-width: 654px;
  width: 100%;
  position: relative;
  margin-right: 24px;
}

.search input {
  padding-left: 24px;
  width: 100%;
  border: 1px solid rgba(72, 136, 255, 0.2);
  border-radius: 8px;
  height: 48px;
  font-size: 16px;
  color: var(--color-darck-text);
  outline: none;
}

.search input::placeholder {
  opacity: 0.5;
}

.btn-search {
  position: absolute;
  top: 4px;
  right: 4px;
}

.btn-search .search-icon {
  display: none;
}

.social {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 37px;
  order: 1;
}

.social a {
  display: flex;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #f4f4f4;
  transition: background 0.3s linear;
}

.social a svg {
  color: var(--color-darck-text);
  transition: color 0.3s linear;
}

.social a:hover {
  background: #d4d9dd;
  transition: background 0.3s linear;
}

.social a:hover svg {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.lang {
  display: flex;
  margin-right: 53px;
  min-height: 48px;
  align-items: center;
}

.lang-btn {
  background-color: transparent;
  border: none;
  padding: 0 4px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.4;
  color: var(--color-darck-text);
  transition: color 0.3s linear;
}

.lang-btn:hover {
  color: var(--color-primary);
  transition: color 0.3s linear;
  opacity: 1;
}

.lang-btn-selected {
  opacity: 1;
}

.btn-page {
  background-color: transparent;
  height: 48px;
  width: 48px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: border-color 0.3s linear;
  cursor: pointer;
  flex-shrink: 0;
  order: 2;
}

.btn-page:last-child {
  margin-right: 15px;
}

.btn-page svg {
  color: var(--color-darck-text);
  transition: color 0.3s linear;
}

.btn-page:hover {
  border-color: var(--color-primary);
  transition: color 0.3s linear;
}

.btn-page:hover svg {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.counter-el {
  display: none;
  position: absolute;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 50%;
  color: var(--color-light-text);
  font-weight: 400;
  font-size: 13px;
  top: -50%;
  right: -50%;
  transform: translate(-50%, 40%);
}

.counter-el.counter-el-select {
  display: flex;
}

.header__down {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  margin-top: -40px;
  z-index: 101;
  max-height: 10000px;
  padding: 8px calc((100% - 1390px) / 2) 24px;
  gap: 10px;
}

.menu-item-drop {
  position: relative;
}

.collect {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 11px 6px;
  background-color: #F4F4F4;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary);
  transition: color 0.3s linear, background-color 0.3s linear;
  text-decoration: none;
  margin-right: 15px;
  white-space: nowrap;
}

.collect:hover {
  color: #F4F4F4;
  background-color: var(--color-primary);
  transition: color 0.3s linear, background-color 0.3s linear;
}

.collect svg {
  margin-right: 7px;
  stroke: var(--color-primary);
  transition: color 0.3s linear;
}

.collect:hover svg {
  margin-right: 7px;
  stroke: var(--color-light-text);
  transition: color 0.3s linear;
}

.hero {
  width: 100%;
  background: linear-gradient(135deg, #672870 20%, #4fe0ff 100%);
  padding: 0;
  transition: margin-top 0.5s ease;
  display: flex;
  justify-content: space-between;
}

.hero__img {
  margin-left: auto;
  width: 566px;
  height: 440px;
}

.hero__img picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: calc((100% - 1250px) / 2);
}

.hero .title,
.hero .subtitle {
  padding: 0;
  margin: 0;
  max-width: 640px;
  width: 100%;
  font-family: 'TenorSans', sans-serif;
  color: var(--color-light-text);
  margin-bottom: 26px;
  text-align: left;
}

.hero .btn.hero__btn {
  background-color: var(--color-light-text);
  font-size: 16px;
  line-height: 125%;
  color: #672870;
  padding: 16px 40px;
  text-decoration: none;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.header__mobile-wrapper {
  display: none;
}

.btn.catalog-open-mobile#catalog-open-mobile {
  display: none;
  padding: 16px 30px;
  border-radius: 8px;
  transition: opacity 0.3s linear;
}

.navigation-working-hours-icon {
  display: none;
}

.catalog-open-mobile-icon {
  display: none;
}

.catalog-open-mobile-span {
  display: none;
}

.catalog-close-span-goback {
  display: none;
}

.catalog-close-arr {
  display: none;
}

nav {
  width: 100%;
  max-width: 901px;
  display: flex;
  align-items: center;
  margin-left: 135px;
}

.menu__list {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
}

.menu__link {
  padding: 11px 10px;
  border-radius: 8px;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  transition: color 0.2s linear;
  white-space: nowrap;
}

.menu__link:hover {
  color: #4888ff;
  transition: color 0.2s linear;
}

.menu__link svg {
  transition: color 0.2s linear;
}

.menu__link:hover svg path {
  fill-opacity: 1;
  transition: fill-opacity 0.2s linear;
}

.submenu__list-box {
  display: none;
  position: absolute;
  width: 100%;
  max-width: 760px;
  left: 50%;
  transform: translateX(-50%);
  top: 66px;
}

.menu__list>li:hover>.menu__link+.submenu__list-box {
  display: block;
}

.submenu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 353px;
  box-shadow: 0 0 10px 0 rgba(157, 157, 157, 0.35);
  background: #fff;
  border-radius: 8px;
  margin: 0;
  list-style: none;
  padding: 24px 0;
  position: relative;
  overflow: hidden;
}

.submenu__list-box::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  top: -30px;
  background-color: transparent;
}

.submenu__list>li {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(204px, 338px) 1fr;
  grid-template-areas: 'title content'
    '. content';
}

.submenu__link {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  gap: 16px;
  padding: 8px 24px;
  border-bottom: 1px solid #f3f3f3;
  transition: stroke 0.2s linear, background-color 0.2s linear;
  grid-area: title;
}

.submenu__link .submenu__arr {
  margin-left: auto;
}

.submenu__icon path {
  transition: fill-opacity 0.2s linear;
}

.submenu__link .submenu__arr path {
  stroke: #343a3f;
  transition: stroke 0.2s linear;
}

.submenu__link:hover {
  color: #4888ff;
  background-color: #f3f3f3;
  transition: stroke 0.2s linear, background-color 0.2s linear;
}

.submenu__link:hover .submenu__icon path {
  fill-opacity: 1;
  transition: fill-opacity 0.2s linear;
}

.submenu__link:hover .submenu__arr path {
  stroke: #4888ff;
  transition: stroke 0.2s linear, fill-opacity 0.2s linear;
}

.submenu__list>li:hover>.submenu__link+.submenu2__list {
  display: block;
}

.submenu__list>li:hover>.submenu__link.submenu__link--active+.submenu2__list {
  display: block;
}

.submenu__list>li>.submenu__link.submenu__link--active+.submenu2__list {
  display: block;
}

.submenu__link--active {
  background: #f3f3f3;
}

.submenu__link--active .submenu__icon path {
  fill-opacity: 1;
}

.submenu__link--active .submenu__arr path {
  stroke: #4888ff;
}

.menu__item--sall {
  position: relative;
}

.submenu__list-box--small {
  width: 100%;
  max-width: 300px;
  min-width: 290px;
  left: 0;
}

.submenu__list--small {
  width: 100%;
  min-height: auto;
}

.submenu__list--small .submenu__link {
  border-bottom: none;
}

.submenu__list--small .submenu__link:hover {
  background-color: transparent;
}

.submenu2__list {
  padding: 24px 40px;
  margin: 0;
  margin-right: auto;
  list-style: none;
  min-width: 290px;
  max-width: 416px;
  width: 100%;
  top: 0;
  display: none;
  background-color: #ffffff;
  grid-area: content;
  position: absolute;
  right: 0%;
}

.submenu2__list::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  right: -10%;
  bottom: -10%;
  width: 120%;
  height: 120%;
  background-color: transparent;
  pointer-events: none;
}

.submenu2__link>li {
  width: 100%;
}

.submenu2__title {
  font-size: 30px;
  color: #343a3f;
  margin-bottom: 14px;
}

.submenu2__link {
  display: flex;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #343a3f;
  white-space: nowrap;
  text-decoration: none;
  padding: 8px 0;
  gap: 7px;
  transition: color 0.2s linear;
}

.submenu2__link>span {
  display: inline-flex;
  font-size: 14px;
  color: rgba(52, 58, 63, 0.5);
  transition: color 0.2s linear, opacity 0.2s linear;
}

.submenu2__link:hover {
  color: #4888ff;
  transition: color 0.2s linear;
}

.submenu2__link:hover span {
  color: #4888ff;
  opacity: 0.6;
  transition: color 0.2s linear, opacity 0.2s linear;
}

@media (max-width: 1280px) {
  .logo {
    margin-right: 16px;
  }

  .hero {
    flex-direction: column;
  }

  .hero__img {
    width: 180px;
    height: auto;
  }

  .hero__text {
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu__list {
    width: auto;
  }

  .menu__link svg {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header__mobile-wrapper {
    flex-direction: column;
    margin-top: 10px;
    /*display: grid;*/
    grid-template-columns: minmax(200px, 1fr) 1fr;
    grid-template-areas: 'address social'
      'work social'
      'menu menu'
      'page page';
    justify-items: center;
    justify-content: center;
    padding: 0 15px 40px;
  }

  .header__top,
  .header__middle {
    display: contents;
  }

  .header {
    display: grid;
    grid-template-columns: 65px 50px 1fr 1fr 1fr 50px 65px;
    grid-template-areas: 'lang lang lang . callback callback callback'
      'catalog btn2 logo logo logo btn1 btn3'
      'search search search search search search search';
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: -1px 35px 0 0 #f4f4f4 inset;
    -moz-box-shadow: -1px 35px 0 0 #f4f4f4 inset;
    box-shadow: -1px 48px 0 0 #f4f4f4 inset;
  }

  .lang {
    padding: 0;
    margin: 0 auto 0 15px;
    grid-area: lang;
  }

  .navigation-callback {
    padding: 0;
    margin: 0 15px 0 auto;
    grid-area: callback;
  }

  .catalog {
    padding: 0;
    margin: 0 0 0 15px;
    grid-area: catalog;
    width: 40px;
    height: 40px;
  }

  .catalog-list {
    position: absolute;
    top: 180px !important;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-light-text);
    z-index: 500;
    width: 100%;
    height: 100vh;
    padding: 15px;
    box-shadow: none;
    border-radius: 0;
  }

  .catalog-list-dropdonw {
    /*right: auto;*/
    /*left: -200%;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 0;*/
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--color-light-text);
    border-radius: 0;
    padding: 0 15px;
    flex-direction: column;
    gap: 0;
  }

  .catalog-list-dropdonw-item {
    margin-bottom: 20px;
  }

  .catalog-item {
    max-width: 100%;
    width: 100%;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .catalog-item.catalog-item-selected {
    border-radius: 6px;
  }

  .catalog-open-mobile-span {
    display: flex;
    color: var(--color-darck-text);
    font-weight: 400;
    font-size: 16px;
  }

  .header__down .btn.catalog-open#catalog-open {
    max-width: 100%;
    width: 100%;
    background: #f4f4f4 !important;
    justify-content: flex-start;
    padding: 11px 13px;
    border-radius: 6px;
    gap: 10px;
  }

  #catalog-close-mobile {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
  }

  .catalog-open-mobile-icon {
    display: flex;
  }

  .catalog-open-icon {
    display: none;
  }

  .catalog .btn.catalog-open {
    max-width: 40px;
    width: 100%;
    height: 100%;
    padding: 6px;
  }

  .catalog .btn.catalog-close {
    max-width: 100%;
    width: 100%;
    height: 50px;
    background-color: transparent;
    padding: 6px 15px 20px;
    justify-content: flex-start;
  }

  .catalog-close-x {
    display: none;
  }

  .catalog-close-arr {
    display: flex;
    color: var(--color-darck-text);
    margin-right: 30px;
  }

  .catalog-close-span-goback {
    color: var(--color-darck-text);
    display: flex;
    font-weight: 400;
    font-size: 20px;

  }

  .btn-page {
    width: 40px;
    height: 40px;
  }

  #btn-2 {
    padding: 0;
    margin: 0 0 0 0;
    grid-area: btn2;
  }

  .logo {
    padding: 0;
    margin: 0 auto;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 56px;
    height: 56px;
  }

  .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  #btn-1 {
    padding: 0;
    margin: 0 0 0 auto;
    grid-area: btn1;
  }

  #btn-3 {
    padding: 0;
    margin: 0 15px 0 auto;
    grid-area: btn3;
  }

  .search {
    padding: 0;
    margin: 0 auto 20px;
    grid-area: search;
    width: 100%;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-search {
    padding: 7px;
  }

  .btn-search span {
    display: none;
  }

  .btn-search .search-icon {
    display: inline-flex;
    width: 24px;
    height: 24px;
  }

  .navigation-address {
    padding: 0;
    margin: 0;
    grid-area: address;
    width: 100%;
    column-gap: 8px;
  }

  .navigation-working-hours-icon {
    display: flex;
  }

  .navigation-pages {
    padding: 0;
    margin: 0;
    grid-area: page;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
  }

  .navigation-pages li {
    border-bottom: 1px solid #e8e8e8;
    padding: 16px 0 10px;
  }

  .navigation-pages li a {
    text-decoration: none;
    color: var(--color-darck-text);
  }

  .header__down {
    grid-area: menu;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 24px 0 24px;
    gap: 0;
  }

  .social {
    padding: 0;
    margin: 0;
    grid-area: social;
    width: 100%;
    justify-content: flex-end;
  }

  .collect {
    padding: 12px 12px;
    margin: 0;
    width: 100%;
    border-radius: 6px;
  }

  .collect svg {
    display: flex;
  }

  .navigation-working-hours {
    padding: 0;
    margin: 0;
    grid-area: work;
    width: 100%;
    display: flex;
    column-gap: 8px;
  }

  .btn.catalog-open-mobile#catalog-open-mobile {
    display: flex;
    max-width: 40px;
    width: 100%;
    height: 100%;
    padding: 6px;
    transition: opacity 0.3s linear;
  }

  .btn.catalog-close_cl {
    display: flex !important;
  }

  nav {
    max-width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  nav .menu__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  nav .menu__list>li {
    width: 100%;
  }

  .menu__link {
    justify-content: flex-start;
  }

  .menu__link svg {
    display: flex;
  }
}

@media (max-width: 768px) {
  .header {
    box-shadow: -1px 26px 0px 0px #f4f4f4 inset;
  }

  .lang {
    min-height: 18px;
    padding: 4px 0;
  }

  .lang svg {
    width: 14px;
    height: 14px;
  }

  .lang-btn {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
  }
}