*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --color-primary: #4888ff;
  --color-darck-text: #343a3f;
  --color-light-text: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Maza', sans-serif;
  color: var(--color-darck-text);
}

.none {
  display: none !important;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-light-text);
  cursor: pointer;
  padding: 11px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  transition: background-color 0.2s linear;
  border: 1px solid transparent;
  white-space: nowrap;
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    opacity: 0.8;
    transition: background-color 0.2s linear;
  }
}

.btn:focus-visible {
  opacity: 0.8;
  transition: background-color 0.2s linear;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-text);
}

.header__top {
  grid-area: top;
  display: flex;
  align-items: center;
  padding: 8px calc((100% - 1390px) / 2);
  justify-content: space-between;
  background: #f4f4f4;
}

.navigation-address {
  padding: 0 0 0 15px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-size: 14px;
  color: var(--color-darck-text);
  transition: color 0.3s linear;
  text-decoration: none;
}

.navigation-address svg {
  color: var(--color-darck-text);
  transition: color 0.3s linear;
}

.navigation-address:hover {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.navigation-address:hover svg {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.navigation-callback a {
  display: flex;
  align-items: center;
  column-gap: 4px;
  text-decoration: none;
  color: var(--color-darck-text);
  font-weight: 400;
  font-size: 14px;
  transition: color 0.3s linear;
}

.navigation-callback a svg {
  color: var(--color-darck-text);
  transition: color 0.3s linear;
}

.navigation-callback a:hover,
.navigation-callback a:hover svg {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.navigation-working-hours {
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
}

.header__top .navigation-pages {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.header__top .navigation-pages a {
  text-decoration: none;
  color: var(--color-darck-text);
  transition: color 0.3s linear;
}

.header__top .navigation-pages a:hover {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.header__top .navigation-pages li:last-child {
  padding-right: 15px;
}

.header__middle {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 100;
  background-color: var(--color-light-text);
  transition: animation 0.2s linear;
  padding: 16px calc((100% - 1390px) / 2);
}

.header__middle.pos-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: white;
  transition: animation 0.2s linear;
  animation: slideDown 0.5s ease;
  align-items: center;
}

.logo {
  padding-left: 15px;
  width: 95px;
  height: 80px;
  margin-right: 40px;
  flex-shrink: 0;
}

.logo a {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.logo svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.catalog {
  margin-right: 16px;
}

.catalog-open {
  padding: 16px 30px;
  border-radius: 8px;
  transition: opacity 0.3s linear;
}

.catalog-open:hover {
  opacity: 0.8;
  transition: opacity 0.3s linear;
}

.catalog-close {
  width: 103px;
  display: none;
  background: #e8e8e8;
  padding: 16px 30px;
  border-radius: 8px;
  transition: opacity 0.3s linear;
}

.catalog-list {
  display: none;
  flex-direction: column;
  padding: 15px 0 15px 0;
  list-style: none;
  margin: 0;
  border-radius: 8px;
  width: 892px;
  height: 427px;
  box-shadow: 0 0 10px 0 rgba(157, 157, 157, 0.35);
  background: #fff;
  overflow-y: auto;
  position: absolute;
}

.catalog-item {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  max-width: 340px;
  width: 100%;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

.catalog-item .catalog-link-icon, .catalog-item svg {
  transition: background-color 0.3s linear;
}

.catalog-item:hover {
  background-color: #f3f3f3;;
  transition: background-color 0.3s linear;
}

.catalog-item:hover svg {
  color: var(--color-primary);
  transition: background-color 0.3s linear;
}

.catalog-item:hover .catalog-link-icon g path, .catalog-item:hover .catalog-link-icon path {
  fill-opacity: 1;
  transition: fill-opacity 0.3s linear;
}

.catalog-item-selected {
  background-color: #f3f3f3;;
}

.catalog-item-selected svg,
.catalog-item-selected .catalog-link-icon g path,
.catalog-item-selected .catalog-link-icon path {
  color: var(--color-primary);
  fill-opacity: 1;
}

.catalog-list .dropdown-two-list li a:hover,
.catalog-list .dropdown-two-list li a:hover span {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.dropdown-two-list li a svg {
  color: var(--color-darck-text);
}

.catalog-link {
  padding: 13px 0 13px 0;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-darck-text);
}

.catalog-link svg:last-child {
  margin-left: auto;
}

.catalog-link svg.catalog-link-icon {
  margin-right: 16px;
  margin-left: 0;
}

.catalog-list-dropdonw {
  position: absolute;
  width: calc(100% - 400px);
  top: 15px;
  right: 15px;
  padding: 0;
  list-style: none;
  display: flex;
  /*z-index: 5;*/
  column-gap: 40px;
}

.catalog-list-dropdonw-item {
  width: 100%;
  font-weight: 400;
  font-size: 30px;
  color: var(--color-darck-text);
  /*margin-bottom: 14px;*/
}

.catalog-list-dropdonw-item .dropdown-two-list {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  margin: 0;
  list-style: none;
  gap: 16px;
}

.catalog-list-dropdonw-item .dropdown-two-list li {
  padding: 0;
  margin: 0;
}

.catalog-list-dropdonw-item .dropdown-two-list li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-darck-text);
  display: flex;
  align-items: baseline;
}

.catalog-list-dropdonw-item .dropdown-two-list li a span {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: rgba(52, 58, 63, 0.5);
  margin-left: 10px
}

.catalog-list-dropdonw-item .dropdown-two-list li a svg {
  margin-left: auto;
  color: var(--color-darck-text);
  transition: color 0.2s linear;
}

.catalog-list-dropdonw-item .dropdown-two-list li a:hover svg {
  color: var(--color-primary);
  transition: color 0.2s linear;
}

.dropdown-two-list .dropdown-three-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  left: auto;
  height: 100%;
  max-width: 226px;
  width: 100%;
  background: var(--color-light-text);
  /*display: flex;*/
  display: none;
  flex-direction: column;
}

.dropdown-two-list .dropdown-three-list li {
  background: var(--color-light-text);
  z-index: 10;
  position: relative;
  padding: 8px;
}

.dropdown-two-list .dropdown-three-list li a {
  position: relative;
  background: var(--color-light-text);
  z-index: 10;
  margin: 0;
  color: var(--color-darck-text);
}

.search {
  max-width: 654px;
  width: 100%;
  position: relative;
  margin-right: 24px;
}

.search input {
  padding-left: 24px;
  width: 100%;
  border: 1px solid rgba(72, 136, 255, 0.2);
  border-radius: 8px;
  height: 48px;
  font-size: 16px;
  color: var(--color-darck-text);
  outline: none;
}

.search input::placeholder {
  opacity: 0.5;
}

.btn-search {
  position: absolute;
  top: 4px;
  right: 4px;
}

.social {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 37px;
}

.social a {
  display: flex;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #f4f4f4;
  transition: background 0.3s linear;
}

.social a svg {
  color: var(--color-darck-text);
  transition: color 0.3s linear;
}

.social a:hover {
  background: #d4d9dd;
  transition: background 0.3s linear;
}

.social a:hover svg {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.lang {
  display: flex;
  margin-right: 53px;
  min-height: 48px;
  align-items: center;
}

.lang-btn {
  background-color: transparent;
  border: none;
  padding: 0 4px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.4;
  color: var(--color-darck-text);
  transition: color 0.3s linear;
}

.lang-btn:hover {
  color: var(--color-primary);
  transition: color 0.3s linear;
  opacity: 1;
}

.lang-btn-selected {
  opacity: 1;
}

.btn-page {
  background-color: transparent;
  height: 48px;
  width: 48px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: border-color 0.3s linear;
  cursor: pointer;
  flex-shrink: 0;
}

.btn-page:last-child {
  margin-right: 15px;
}

.btn-page svg {
  color: var(--color-darck-text);
  transition: color 0.3s linear;
}

.btn-page:hover {
  border-color: var(--color-primary);
  transition: color 0.3s linear;
}

.btn-page:hover svg {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.counter-el {
  display: none;
  position: absolute;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 50%;
  color: var(--color-light-text);
  font-weight: 400;
  font-size: 13px;
  top: -50%;
  right: -50%;
  transform: translate(-50%, 40%);
}

.counter-el.counter-el-select {
  display: flex;
}

.header__down {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  margin-top: -40px;
  z-index: 101;
  max-height: 10000px;
  padding: 8px calc((100% - 1390px) / 2) 24px;
}

.header__down .menu-list {
  display: flex;
  list-style: none;
  padding: 0 0 0 15px;
  margin: 0 0 0 120px;
  gap: 18px;
}

.header__down .menu-list a {
  text-decoration: none;
  background-color: #F4F4F4;
  padding: 11px 13px 11px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--color-darck-text);
  transition: color 0.3s linear;
}

.header__down .menu-list a:hover {
  color: var(--color-primary);
  transition: color 0.3s linear;
}

.header__down .menu-list a:hover svg path {
  color: var(--color-primary);
  fill-opacity: 1;
  transition: color 0.3s linear, fill-opacity 0.3s linear;
}

.collect {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 11px 6px;
  background-color: #F4F4F4;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-primary);
  transition: color 0.3s linear, background-color 0.3s linear;
  text-decoration: none;
  margin-right: 15px;
}

.collect:hover {
  color: #F4F4F4;
  background-color: var(--color-primary);
  transition: color 0.3s linear, background-color 0.3s linear;
}

.collect svg {
  margin-right: 7px;
  stroke: var(--color-primary);
  transition: color 0.3s linear;
}

.collect:hover svg {
  margin-right: 7px;
  stroke: var(--color-light-text);
  transition: color 0.3s linear;
}

.hero {
  width: 100%;
  background: url(../img/gamepad.png) top right/contain no-repeat, linear-gradient(135deg, #672870 20%, #4fe0ff 100%);
  padding: 84px 0;
  transition: margin-top 0.5s ease;

  /*////////*/
  min-height: 740px;
}

.hero .title,
.hero .subtitle {
  max-width: 640px;
  width: 100%;
  font-family: 'TenorSans', sans-serif;
  color: var(--color-light-text);
  margin-bottom: 26px;
  text-align: left;
}

.hero .btn.hero__btn {
  background-color: var(--color-light-text);
  font-size: 16px;
  line-height: 125%;
  color: #672870;
  padding: 16px 40px;
  text-decoration: none;
}


/*!* Добавляем в CSS *!*/
/*.header__top {*/
/*  transition: opacity 1s linear, transform 1s linear, max-height 1s linear;*/
/*  max-height: 1000px; !* Достаточно большое значение *!*/
/*  overflow: hidden;*/
/*}*/

/*.header__middle.fixed {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  z-index: 1000;*/
/*  background: white;*/
/*  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
/*  animation: slideDown 0.5s ease;*/
/*}*/

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}